/* Container */
.dashboard {
  background-color: #f1f1f1;
  border: 1px solid #3c3a3a;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 1300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Title */
.dashboard-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
}

.highlight {
  color: #ff1801;
}

/* Grid layout */
.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

/* overall baggrund */
.card {
  background-color: #1e1e1e;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

/* position */
.positions {
  grid-row: span 2;
}

.positions-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.position-item {
  padding: 8px 12px;
  background-color: #1c1c1c;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

/* Card title */
.card-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;
}

.icon {
  color: #ff1801;
  margin-right: 0.5rem;
}

.timeline {
  margin-top: 3rem;
}

